
@{
    Layout = null;
}

<!DOCTYPE html>

<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>

<partial name="~/Views/Admin/HeadPartial.cshtml"/>

<body>
  <!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
                    <img src="~/argon-dashboard-master/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
        </a>
      </div>

      <partial name="~/Views/Admin/SidebarPartial.cshtml" />

    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <partial name="~/Views/Admin/NavbarPartial.cshtml"/>
    <!-- Header -->
    <!-- Header -->
    <partial name="~/Views/Admin/NavigationPartial.cshtml"/>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">  
            @RenderBody()
        </div>
      </div>
      <!-- Footer -->
      <partial name="~/Views/Admin/FooterPartial.cshtml"/>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
   <partial name="~/Views/Admin/ScriptPartial.cshtml"/>
</body>

</html>