
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- upto 2 directory depth-->
<html lang="en-US">

<partial name="HeaderPartial" />
<body id="top">
    <partial name="NavbarPartial" />
    
    <div class="page-content">
        <div id="content">
            @await Component.InvokeAsync("FeatureList")

            @await Component.InvokeAsync("AboutList")

            @await Component.InvokeAsync("ServiceList")

            @await Component.InvokeAsync("SkillList")

            @await Component.InvokeAsync("PortfolioList")

            <div class="section px-3 px-lg-4 pt-5" id="experience">
                <div class="container-narrow">
                    <div class="text-center mb-5">
                        <h2 class="marker marker-center">Experience</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
                                <div class="card-header px-3 py-2">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h3 class="h5 mb-1">UI/UX Design</h3>
                                            <div class="text-muted text-small">Designerr Inc. <small>(2012-2014)</small></div>
                                        </div><img src="~/Template/images/services/ui-ux.svg" width="48" height="48" alt="ui-ux" />
                                    </div>
                                </div>
                                <div class="card-body px-3 py-2">
                                    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                                    <p>Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3" data-aos="fade-left" data-aos-delay="300">
                                <div class="card-header px-3 py-2">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h3 class="h5 mb-1">App Development</h3>
                                            <div class="text-muted text-small">MakeMyApp LLC. <small>(2015-2018)</small></div>
                                        </div><img src="~/Template/images/services/app-development.svg" width="48" height="48" alt="app development" />
                                    </div>
                                </div>
                                <div class="card-body px-3 py-2">
                                    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                                    <p>Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3" data-aos="fade-right" data-aos-delay="200">
                                <div class="card-header px-3 py-2">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h3 class="h5 mb-1">Web Design</h3>
                                            <div class="text-muted text-small">Webbie LLC. <small>(2018-2020)</small></div>
                                        </div><img src="~/Template/images/services/web-design.svg" width="48" height="48" alt="web design" />
                                    </div>
                                </div>
                                <div class="card-body px-3 py-2">
                                    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                                    <p>Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3" data-aos="fade-left" data-aos-delay="400">
                                <div class="card-header px-3 py-2">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h3 class="h5 mb-1">Full Stack Development</h3>
                                            <div class="text-muted text-small">Coder Inc. <small>(2020-2021)</small></div>
                                        </div><img src="~/Template/images/services/full-stack.svg" width="48" height="48" alt="full stack" />
                                    </div>
                                </div>
                                <div class="card-body px-3 py-2">
                                    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                                    <p>Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section px-3 px-lg-4 pt-5" id="testimonials">
                <div class="container-narrow">
                    <div class="text-center mb-5">
                        <h2 class="marker marker-center">Client Testimonials</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5" data-aos="fade-right" data-aos-delay="100">
                            <div class="d-flex ms-md-3"><span><i class="fas fa-2x fa-quote-left"></i></span><span class="m-2">Walter displays exemplary professionalism and is able to take on challenges. He learns quickly and is an asset to any team.</span></div>
                            <div class="d-flex justify-content-end align-items-end">
                                <div class="text-end me-2">
                                    <div class="fw-bolder">Aiyana</div>
                                    <div class="text-small">CEO / Web Design Company</div>
                                </div><img class="me-md-3 rounded" src="~/Template/images/testimonials/client1.jpg" width="96" height="96" alt="client 1" />
                            </div>
                        </div>
                        <div class="col-md-6 mb-5" data-aos="fade-left" data-aos-delay="300">
                            <div class="d-flex ms-md-3"><span><i class="fas fa-2x fa-quote-left"></i></span><span class="m-2">Walter displays exemplary professionalism and is able to take on challenges. He learns quickly and is an asset to any team.</span></div>
                            <div class="d-flex justify-content-end align-items-end">
                                <div class="text-end me-2">
                                    <div class="fw-bolder">Alexander</div>
                                    <div class="text-small">CEO / Web Design Company</div>
                                </div><img class="me-md-3 rounded" src="~/Template/images/testimonials/client2.jpg" width="96" height="96" alt="client 1" />
                            </div>
                        </div>
                        <div class="col-md-6 mb-5" data-aos="fade-right" data-aos-delay="200">
                            <div class="d-flex ms-md-3"><span><i class="fas fa-2x fa-quote-left"></i></span><span class="m-2">Walter is a great co-worker and problem solver. He is quick to extend his helping hand and makes a good team player.</span></div>
                            <div class="d-flex justify-content-end align-items-end">
                                <div class="text-end me-2">
                                    <div class="fw-bolder">Ariya</div>
                                    <div class="text-small">Web Developer</div>
                                </div><img class="me-md-3 rounded" src="~/Template/images/testimonials/client3.jpg" width="96" height="96" alt="client 1" />
                            </div>
                        </div>
                        <div class="col-md-6 mb-5" data-aos="fade-left" data-aos-delay="400">
                            <div class="d-flex ms-md-3"><span><i class="fas fa-2x fa-quote-left"></i></span><span class="m-2">Walter is a great co-worker and problem solver. He is quick to extend his helping hand and makes a good team player.</span></div>
                            <div class="d-flex justify-content-end align-items-end">
                                <div class="text-end me-2">
                                    <div class="fw-bolder">Braiden</div>
                                    <div class="text-small">Web Designer</div>
                                </div><img class="me-md-3 rounded" src="~/Template/images/testimonials/client4.jpg" width="96" height="96" alt="client 1" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact">
                <div class="container-narrow">
                    <div class="text-center mb-5">
                        <h2 class="marker marker-center">Contact Me</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
                            <div class="bg-light my-2 p-3 pt-2">
                                <form action="https://formspree.io/your@email.com"
                                      method="POST">
                                    <div class="form-group my-2">
                                        <label for="name" class="form-label fw-bolder">Name</label>
                                        <input class="form-control" type="text" id="name" name="name" required>
                                    </div>
                                    <div class="form-group my-2">
                                        <label for="email" class="form-label fw-bolder">Email</label>
                                        <input class="form-control" type="email" id="email" name="_replyto" required>
                                    </div>
                                    <div class="form-group my-2">
                                        <label for="message" class="form-label fw-bolder">Message</label>
                                        <textarea class="form-control" style="resize: none;" id="message" name="message" rows="4" required></textarea>
                                    </div>
                                    <button class="btn btn-primary mt-2" type="submit">Send</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
                            <div class="mt-3 px-1">
                                <div class="h5">Let’s talk how I can help you!</div>
                                <p>If you like my work and want to avail my services then drop me a message using the contact form. </p>
                                <p>Or get in touch using my email, skype or my contact number.</p>
                                <p>See you!</p>
                            </div>
                            <div class="mt-53 px-1">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="pb-1">Email:</div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="pb-1 fw-bolder">walter@company.com</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="pb-1">Skype:</div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="pb-1 fw-bolder">username@skype.com</div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="pb-1">Phone:</div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="pb-1 fw-bolder">+0718-111-0011</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="pt-4 pb-4 text-center bg-light">
                <div class="container">
                    <div class="my-3">
                        <div class="h4">Walter Patterson</div>
                        <p>Web Developer & Mobile Application Developer</p>
                        <div class="social-nav">
                            <nav role="navigation">
                                <ul class="nav justify-content-center">
                                    <li class="nav-item"><a class="nav-link" href="https://twitter.com/templateflip" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a></li>
                                    <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/templateflip" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a></li>
                                    <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/templateflip" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a></li>
                                    <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/" title="LinkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a></li>
                                    <li class="nav-item"><a class="nav-link" href="https://www.behance.net/templateflip" title="Behance"><i class="fab fa-behance"></i><span class="menu-title sr-only">Behance</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="text-small text-secondary">
                        <div class="mb-1">&copy; Super Folio. All rights reserved.</div>
                        <div>
                            <!-- Make sure to buy a license for the template before removing the line below. Buy license on https://templateflip.com/ -->Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
    <script src="~/Template/scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
    <script src="~/Template/scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
    <script src="~/Template/scripts/BigPicture.min.js?ver=1.2.0"></script>
    <script src="./scripts/purecounter.min.js?ver=1.2.0"></script>
    <script src="~/Template/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
    <script src="~/Template/scripts/aos.min.js?ver=1.2.0"></script>
    <script src="~/Template/scripts/main.js?ver=1.2.0"></script>
</body>
</html>
