<div class="navbar-inner">
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="dashboard.html">
                    <i class="ni ni-tv-2 text-primary"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="icons.html">
                    <i class="ni ni-planet text-orange"></i>
                    <span class="nav-link-text">Öne Çıkan</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Skill" asp-action="Index">
                    <i class="ni ni-pin-3 text-primary"></i>
                    <span class="nav-link-text">Yetenekler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Experience">
                    <i class="ni ni-single-02 text-yellow"></i>
                    <span class="nav-link-text">Deneyimler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="ni ni-bullet-list-67 text-default"></i>
                    <span class="nav-link-text">Hizmetler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Portfolio">
                    <i class="ni ni-key-25 text-info"></i>
                    <span class="nav-link-text">Projeler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">
                    <i class="ni ni-circle-08 text-pink"></i>
                    <span class="nav-link-text">Hakkımda</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upgrade.html">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">İletişim</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upgrade.html">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Mesajlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upgrade.html">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Ayarlar</span>
                </a>
            </li>
        </ul>
    </div>
</div>

